/*
    ==============================================
                ****** RESET ******
    ==============================================
*/

@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
body {
  margin: 0;
  background-color: #ffffff;
}

@font-face{
  font-family: "cheltenham-italic-700";
  src: url(fonts\cheltenham-italic-700.ttf);
}


:root {
  
  --header-color: rgb(19, 19, 19);
  --color-btnhover: rgb(34, 93,132);
  
  --p-color : rgb(45, 45, 45)
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  
  color: black;
}

a:hover {
  color:;
}

#nav-tag{
  font-family: 'Franklin Gothic Medium';
  color: #000000;
  size: 14px;
  line-height: 19px;
}


.topnav{
  overflow: hidden;
  display: flex;
}


.left-nav{
  float:left;
  
}

.logo{
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.right-nav{
  float:right;
}

p{
  color: var(--p-color);
}

h1{
  color: var(--header-color);
  font-size: 40px;
  line-height: 48px;
  font-family: "cheltenham-italic-700", Georgia, 'Times New Roman', Times, serif;
}

#desc{
  color:#888888;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.13px;
  font-family: "Tinos",  georgia, "times new roman", times, serif;
  
}


.btn{
  background-color: rgb(71, 112, 137);
  color: #ffffff;
}




/*
    ==============================================
                ****** GLOBAL ******
    ==============================================
*/
